.appStart
  padding: 0 0!important
  >div
    padding: 0 0 0
    text-align: center
    img
      width: 100%
  .appName 
    position: absolute
    top: 4rem 
    left: 20%
    width: 60%
    border: 1px solid #9B7D58
    background: rgba(0,0,0,0.5)
    font-size: 1.8rem
    color: #fff 
    text-align: center
    height: 4rem
    line-height: 4rem
  .appTips
    margin-top: 1.6rem
    font-size: 1.4rem
    color: #9B7D58
  .datetime
    color: #9B7D58
    font-size: 1.4rem
    padding: 3px
    border: 1px solid #9B7D58
    width: 83%
    margin: 3rem auto 1.5rem
    >div
      border: 1px dotted #9B7D58
      >div 
        display: inline-block 
        width: 49%
        padding: 1.2rem
        height: 6rem
        vertical-align: middle
    .dateweek
      font-size: 3.2rem
      line-height: 4rem
    .dateyear 
      >div 
        font-size: 1.3rem
      >div:nth-child(1)
        font-size: 1.7rem
        padding-bottom: 5px
  .ivu-btn-primary
    width: 6rem
    height: 6rem
    padding: 0
    display: inline-block
    position: absolute
    left: calc(50% - 3.5rem)
    top: 88vh