.appHeader
  position: fixed
  z-index: 888
  top: 0
  left: 0
  width: 100%
  .p-home
    margin-top: -4px!important
  >div
    width: 100%
    height: 5.5vh
    background: linear-gradient(rgba(160,13,5,0.9), rgba(211,139,44,0.8))
    color: #f3f3f3
    >div
      float: left
      text-align: center
      height: 5.5vh
      line-height: 5.5vh
      i
        color: #f3f3f3
      >span
        color: #f3f3f3
        font-size: 1.6rem
        display: inline-block
        margin: 0 auto
    >div:nth-child(1)
      width: 4rem
      line-height: 5.5vh
    >div:nth-child(2)
      width: calc(100% - 8rem)
    >div:nth-child(3)
      width: 4rem
  .startPage
    background: rgba(0,0,0,0)!important
    >div
      width: 100%!important
      width: 100%!important
      text-align: center!important
      >span
        color: #030840!important
