/*Created by macmzon@163.com*/
.infoHeadPhoto
  margin-top: 5px
.curHeadPhoto,
.newHeadPhoto
  background: #f3f3f3
  padding: 0
  border-radius: 100%!important
  width: 100px!important
  height: 100px!important
  overflow: hidden
  text-align: center
.curHeadPhoto
  img
    width: 100px
    height: 100px
.headType
  >div
    text-align: center
    font-size: 13px
.operate
  color: #fff
.setHeadPhoto
  .setBtn
    display: inline-block
    width: 40px
    height: 40px
    padding: 5px
.setDiv
  text-align: center
  margin-top: 20px
.cropper-content
  display: flex
  display: -webkit-flex
  justify-content: flex-end
  -webkit-justify-content: flex-end

.cropper
  width: 200px
  height: 200px
  margin: 10px auto
  border: 1px solid #e3e3e3

.show-preview
  flex: 1
  -webkit-flex: 1
  display: flex
  display: -webkit-flex
  justify-content: center
  -webkit-justify-content: center
  .preview
    overflow: hidden
    border-radius: 50%
    border:1px solid #cccccc
    background: #cccccc
    margin-left: 40px
.bottomBtn
  text-align: center
