
.appIdCard
  background: #fff
  padding-top: 0!important
  .container
    width: 300px
  .x-title
    font-size: 1.4rem
    color: #000
    margin: 10px 0 5px
    text-align: center
  .headerFace
    border-radius: 100% 100%
    display: block
    margin: 0 auto 10px
  input
    color:#666
    font-size: 15px
  .ivu-form-item
    margin-bottom: 15px
  .ivu-icon-ios-person
    font-size: 20px
    width: 16px
  .ivu-form-inline .ivu-form-item
    width: 300px
  .ivu-form-item-error-tip
    padding: 5px 10px 0
    font-size: 12px
  .ivu-icon-ios-person:before
    margin-left: -2px
  .idPhoto
    position: relative
    width: 180px
    height: 125px
    margin: 0 auto
    i
      position: absolute
      left: 66px
      top: 35px
      font-size: 5rem
  .x-img
    width: 180px
    height: 120px
    background: #fff
  .x-msg
    font-size: 1.2rem
    color: #999
    text-align: center
    span
      font-size: 1.2rem
      color: #d38b2c
