// Created by macmzon@163.com
.appPhotoImg
  .PhotoTitle
    text-align: center
  .PhotoType
    text-align: center
    img
      width: 225px
      height: 150px
      background: #f3f3f3

  .operate
    color: #fff
  .setPhotoPhoto
    .setBtn
      display: inline-block
      width: 40px
      height: 40px
      padding: 5px
  .setDiv
    text-align: center
    margin-top: 20px
  .cropper-content
    display: flex
    display: -webkit-flex
    justify-content: flex-end
    -webkit-justify-content: flex-end

  .cropper
    width: 225px
    height: 150px
    margin: 10px auto
    border: 1px solid #e3e3e3

  .show-preview
    flex: 1
    -webkit-flex: 1
    display: flex
    display: -webkit-flex
    justify-content: center
    -webkit-justify-content: center
    .preview
      overflow: hidden
      border-radius: 50%
      border:1px solid #cccccc
      background: #cccccc
      margin-left: 40px
  .bottomBtn
    margin-top: 40px
    text-align: center
