
.appLogin
  background: #fff
  padding-top: 0!important
  .appName 
    position: absolute
    top: 0px 
    left: 0.3rem
    width: calc(100% - 0.7rem)
    box-shadow: 0px 0px 5px 2px #ebebeb
    background: linear-gradient(rgba(160,13,5,0.9), rgba(211,139,44,0.8))
    font-size: 1.6rem
    color: #f3f3f3 
    text-align: center
    height: 5.5vh
    line-height: 5.5vh
    border-radius: 5px
  .container
    width: 300px
  .headerFace
    border-radius: 100% 100%
    display: block
    margin: 10px auto 10px
  input
    color:#666
    font-size: 15px
  .ivu-icon-ios-person
    font-size: 20px
    width: 16px
  .ivu-form-inline .ivu-form-item
    width: 300px
  .ivu-form-item-error-tip
    padding: 5px 10px 0
    font-size: 12px
  .ivu-icon-ios-person:before
    margin-left: -2px
  .onRegiste
    text-align: center
    color: #999
    position: fixed
    width: 100%
    bottom: 10px
    left: 0
    span
      font-size: 12px
    span:nth-child(2)
      color: #0000cc
