.appMember
  background: #fff
  overflow-y: auto
  .p-head
    position: relative
    width: 100%
    height: 15rem
    background: url('./images/headback.png') no-repeat center center
    background-size: 100% 100%
  .p-headImg
    img
      position: absolute
      top: 0
      left: 50%
      margin-left: -3rem
      z-index: 99
      width: 6rem
      height: 6rem
      border-radius: 100%
      background: #fff
      box-shadow: 0 0 5px 0 #666
  .p-newDate
    font-size: 1.3rem
    color: #553605
    height: 2rem
    span
      display: inline-block
      width: 40%
      text-align: center
    span:nth-child(1)
      float: left
    span:nth-child(2)
      float: right
  .p-user
    text-align: center
    height: 7rem
    line-height: 11rem
    span
      font-size: 1.8rem
      color: #ab2a20
    .p-login
      width: 50%
      padding: 2px 0 2px
      text-align: center
      border-radius: 5rem
      span
        font-size: 1.5rem
        color: #fff
  .p-main
    background: #fff
    margin: 10px
    padding: 10px
    border-radius: 5px
    box-shadow: 0 0 5px 0 #dbdbdb
  .p-course
    padding: 0 2rem
    text-align: center
    color: #fff
    .ivu-col
      background: rgba(232,58,48,0.3)
      box-shadow: 0 0 5px 0 #dbdbdb
      border-radius: 5px
      margin: 1%
      width: 31.33%
      padding: 2px 0
      div
        >div:nth-child(2)
          font-size: 1.3rem
  .p-quit
    margin: 20px 0 8px
    text-align: center
    button
      color: #fff
      width: 50%
      padding: 4px 0 5px
      text-align: center
      border-radius: 5rem
      span
        font-size: 1.5rem
  .p-friend,
  .p-word
    text-align: center
    border-right: 1px solid #F2E8D7
    div
      font-size: 1.2rem
    i
      font-size: 5rem
      color: #CAA05C
  .p-word
    border-right: none
  .p-main-a
    padding-bottom: 10px
    border-bottom: 1px solid #F2E8D7
  .p-main-b
    margin: 10px 0 0
    text-align: center
    .ivu-col
      border-right: 1px solid #F2E8D7
      div
        font-size: 1.2rem
    .ivu-col:last-child
      border-right:none
    i
      font-size: 2rem
      color: #C3683A
  .ivu-cell-group
    background: #fff
  .ivu-cell-extra
    color:#CAA05C
  .p-main-c
    .ivu-cell
      border-top: 1px solid #f2e8d7
      border-bottom: 1px solid #f2e8d7
      position: relative
    .ivu-icon
      color: #C3683A
      vertical-align: top
      margin-top: 2px
    .ivu-cell-footer
      margin-right: 10px
    .ivu-icon-ios-arrow-forward
      position: absolute
      right: 10px
      top: 11px
