.appSet
  background: #fff
  overflow-y: auto
  padding-bottom: 5rem
  .p-main
    margin: 3px
    border-radius: 4px
    background: #fff
    box-shadow: 0 0 5px 0 #dbdbdb
    .ivu-cell-group
      border-top: 1px solid #f2e8d7
    .ivu-cell
      border-bottom: 1px solid #f2e8d7
      position: relative
    .ivu-icon
      color: #C3683A
      vertical-align: top
      margin-top: 2px
    .ivu-cell-footer
      margin-right: 10px
    .ivu-icon-ios-arrow-forward
      position: absolute
      right: 10px
      top: 11px
  .p-bottom
    width: 100%
    text-align: center
    position: fixed
    left: 0
    bottom: 5px
    z-index: 2222
    button
      color: #f4f4f4
      width: 80%
  .vux-datetime-value
    height: 36px
    float: right
    position: relative
    z-index: 666
    margin-top: -36px
    width: 100%
    opacity: 0
  .x-address
    >div
      >span
        width: 54.5px
        height: 73px
        display: inline-block
        vertical-align: top
        line-height: 2.2
      >div
        display: inline-block
        width: calc(100% - 56px)
        margin-left: -4px
