/*
css 样式中设置 body font-size:10px, 则body的子元素字体大小转换：
|  px  |       rem        | px单位值对应rem单位值转换
---------------------------
|  14  |  14/10 = 1.4rem  |
*/
/*重置全局样式*/
*, div, ol, ul, li, a, i, span, form, p, img, input,
dl, dt, dd, label, h1, h2, h3, h4, h5, h6, table, tr, td, th,
thead, tbody, tfoot, time, video, audio, canvas, header,
footer, iframe, nav, section, strong, sub, sup, main, button,
mark, meter, textarea, source, select, option, frameset,
frame, dialog, datalist, caption, article, em, aside
  -webkit-touch-callout: none                   /*系统默认菜单被禁用*/
  -webkit-user-select: none                     /*webkit浏览器*/
  -moz-user-select: none                        /*火狐*/
  -ms-user-select: none                         /*IE10*/
  user-select: none                             /*禁止选中文本*/
  margin: 0
  padding: 0
  border: none                                  /*取消边框默认样式*/
  outline: none!important
  border-radius: none
  font-size: 1.4rem
  font-weight: normal
  text-decoration: none
  word-wrap: break-word                         /*设置长单词换行*/
  word-break: break-all                         /*设置长单词换行*/
  box-sizing: border-box!important              /*盒模型*/
  -moz-box-sizing: border-box!important         /* 盒模型Firefox */
  -webkit-box-sizing: border-box!important      /* 盒模型Safari */
  appearance: none!important                    /*取消默认样式*/
  -moz-appearance: none!important
  -webkit-appearance: none!important
html, body
  width: 100%
  height: 100vh
  overflow-x: hidden
  overflow-y: auto
  background: #fff
  font: normal 62.5% "PingFangSC Regular", "HiraginoSansGB", "Helvetica", "Arial", "Microsoft YaHei", sans-serif
  color: #666
body
  position: relative
  z-index: 0
  font-size: 10px!important
  -webkit-overflow-scrolling: touch              /* HTML5网页内都有快速滚动和回弹的效果*/
  -webkit-tap-highlight-color: rgba(0,0,0,0)     /* 取消Safari浏览器中的高亮颜色*/
ol, ul, li
  list-style: none!important
input, textarea
  -webkit-user-select: auto                     /*webkit浏览器*/
  -moz-user-select: auto                        /*火狐*/
  -ms-user-select: auto                         /*IE10*/
  user-select: auto                             /*禁止选中文本*/
  resize: none
  border: 1px solid #F0C579
button, a, input, select, img, textarea, *
button:hover, a:hover, input:hover, select:hover, img:hover, textarea:hover, *:hover
button:focus, a:focus, input:focus, select:focus, img:focus, textarea:focus, *:focus
button:active, a:active, input:active, select:active, img:active, textarea:active, *:active
button:visited, a:visited, input:visited, select:visited, img:visited, textarea:visited, *:visited
a:link
  outline: none!important
  text-decoration: none
  font-weight: normal
  box-sizing: border-box!important              /*盒模型*/
  -moz-box-sizing: border-box!important         /* 盒模型Firefox */
  -webkit-box-sizing: border-box!important      /* 盒模型Safari */
  appearance: none!important                    /*取消默认样式*/
  -moz-appearance: none!important
  -webkit-appearance: none!important
a, a:hover, a:focus, a:active, a:visited
  color: #d38b2c
table
  border-collapse: collapse
  border-spacing: 0

:-moz-placeholder                               /* Mozilla Firefox 4 to 18 */
  color: #C1C1C1

::-moz-placeholder                              /* Mozilla Firefox 19+ */
  color: #C1C1C1

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
  color: #C1C1C1

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
  color: #C1C1C1
img
  background: #BFBFBF

/*重置iVew样式*/
.ivu-btn,
.ivu-btn:hover,
.ivu-btn:active,
.ivu-btn:focus,
.ivu-btn:visited,
.ivu-btn[disabled],
button,
button:hover,
button:active,
button:focus,
button:visited,
button[disabled],
input[type=button],
input[type=button]:hover,
input[type=button]:active,
input[type=button]:focus,
input[type=button]:visited
input[type=button][disabled]
  color: #F3F3F3
  outline: none
  border: 0px solid rgba(0,0,0,0)
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,0.35)

.ivu-btn:hover,
.ivu-btn[disabled],
button:hover,
button[disabled],
input[type=button]:hover,
input[type=button][disabled]
  background: linear-gradient(#666, #ccc)

.ivu-btn-primary
  background: linear-gradient(rgb(29, 98, 240), rgb(25, 213, 253))
.ivu-btn-success
  background: linear-gradient(rgb(25,190,107), rgb(121,252,188))
.ivu-btn-warning
  background: linear-gradient(rgb(255,153,0), rgb(250,206,139))
.ivu-btn-error
  background: linear-gradient(rgb(237,64,20), rgb(255,157,131))
.ivu-btn-info
  background: linear-gradient(rgb(59,188,246), rgb(147,222,255))
.ivu-btn-default,
.ivu-btn-dashed,
.ivu-btn-text
  color: #333
  background: linear-gradient(rgb(210,210,210), rgb(220,220,220))
.ivu-card-bordered
  box-shadow: 0 1px 6px rgba(0,0,0,0.2) !important

.ivu-modal
  top: 26vh
.ivu-modal-confirm-head
  text-align: center
  padding: 0
.ivu-modal-confirm-body
  padding-left: 0
  text-align: center
  word-wrap: break-word
  word-break: break-all
.ivu-modal-confirm-footer
  text-align: center
  >button
    width: 40%
.ivu-icon-ios-help-circle:before
  content: "\F108"
.ivu-input,
.ivu-input-group-append,
.ivu-input-group-prepend,
.ivu-form-item-error .ivu-input,
.ivu-form-item-error .ivu-input-group-append,
.ivu-form-item-error .ivu-input-group-prepend
  border: 1px solid #E3E3EE
.ivu-input-group-prepend,
.ivu-form-item-error .ivu-input-group-prepend
  border-right: 0px solid #fff!important
.ivu-input,
.ivu-form-item-error .ivu-input
  box-shadow: 0 0 0 transparent!important
.ivu-drawer-header-inner
  font-size: 2rem
  text-align: center
.ivu-drawer-body
  padding: 5px
.tabList
  display: inline-block
  width: 45%
  height: 35px
  line-height: 35px
  box-shadow: 0px 0px 5px 2px #ebebeb
  margin: 10px 2.5%
  text-align: center
  font-size: 1.3rem
  border-radius: 5px
  color: #f4f4f4
.tabList:nth-child(1)
  background: #E8692F
.tabList:nth-child(2)
  background: #E83A30
.tabList:nth-child(3)
  background: #E72F8C
.tabList:nth-child(4)
  background: #892FE8
.tabList:nth-child(5)
  background: #795A98
.tabList:nth-child(6)
  background: #2DE8BD
.tabList:nth-child(7)
  background: #31E749
.tabList:nth-child(8)
  background: #A4E82F
.tabList:nth-child(9)
  background: #AF5A5A
.tabList:nth-child(10)
  background: #E7B72F
.tabList:nth-child(11)
  background: #E88C30
.tabList:nth-child(12)
  background: #6AA205
.tabList:nth-child(13)
  background: #FFA4A4
.tabList:nth-child(14)
  background: #31C9E8
.tabList:nth-child(15)
  background: #F8BB00
.tabList:nth-child(16)
  background: #EE246D
.tabList:nth-child(17)
  background: #00B6BC
.tabList:nth-child(18)
  background: #AFCA63
.tabList:nth-child(19)
  background: #715296
.tabList:nth-child(20)
  background: #CEAF90
.tabList:nth-child(21)
  background: #BC93B3
.tabList:nth-child(22)
  background: #FDB812
.tabList:nth-child(23)
  background: #DA4F3A
.tabList:nth-child(24)
  background: #E75F53
.tabList:nth-child(25)
  background: #38946D
.ivu-carousel
  background: #ccc
  height: 25vh!important
  .ivu-carousel-item
    img
      width: 100%
      height: 25vh!important
.ivu-tabs-bar
  margin-bottom: 0
.ivu-tabs-ink-bar
  background-color: rgb(211, 139, 44)
.ivu-tabs-nav .ivu-tabs-tab-active,
.ivu-tabs-nav .ivu-tabs-tab:hover
  color: rgb(211, 139, 44)
.ivu-form-item-error .ivu-input-group-append,
.ivu-form-item-error .ivu-input-group-prepend
  background-color: #f8f8f9
/*重置滚动条样式*/
::-webkit-scrollbar                              /*滚动条整体样式*/
  width: 0px                                     /*高宽分别对应横竖滚动条的尺寸*/
  height: 2px
::-webkit-scrollbar-thumb                        /*滚动条里面小方块*/
  border-radius: 10px
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)
  background: #D8CA9E
::-webkit-scrollbar-track                        /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)
  border-radius: 10px
  background: #EDEDED
.ivu-form-item-error .ivu-input-group-append,
.ivu-form-item-error .ivu-input-group-prepend,
.ivu-input-group-prepend,
.ivu-input-group-append,
.ivu-input-group-large .ivu-input,
.ivu-input-group-large>.ivu-input-group-append,
.ivu-input-group-large>.ivu-input-group-prepend
  background-color: #fff
  border: none
  input
    height: 34px
  span
    position: relative
    color: #000
    top: 1px
.ivu-icon
  color: #d38b2c
.ivu-form-item-error-tip
  font-size: 1.2rem
  width: 100%!important
  margin: 0!important
.ivu-modal-close
  display: none
.ivu-modal-header
  color: #f60
  text-align: center
  i
    font-size: 1.6rem
  span
    font-size: 1.5rem
  .ivu-icon
    margin-top: -4px
.ivu-message
  top: 100px!important
  .ivu-message-notice-content
    padding: 8px 8px 0
    min-height: 33px
    span
      font-size: 1.2rem
      color: #F00F0F
  .ivu-icon
    color: #f60
  .ivu-message-notice-content-text
    padding-right: 20px
.ivu-modal-footer
  >div
    text-align: center
    button
      width: 40%
.ivu-form-inline .ivu-form-item
  width: 100%
  margin-right: 0
button
  .ivu-icon
    color: #fff
.ivu-input-group
  border-bottom: 1px solid #e3e3e3!important
.ivu-modal-body
  min-height: 200px
  position: relative
  .ivu-icon
    font-size: 1.6rem
    color: #f60
.ivu-modal-body,
.ivu-modal-confirm
  padding: 0
.ivu-modal-confirm-head
  border-bottom: 1px solid #e3e3e3
.ivu-modal-confirm-head-title
  color: #f60
.ivu-modal-confirm-body
  min-height: 10.5rem
  padding: 1.5rem
.ivu-modal-confirm-footer
  width: 100%
  margin: 0
  padding: 1rem 0
  border-top: 1px solid #e3e3e3
.ivu-tabs-nav
  .ivu-tabs-tab
    .ivu-icon
      margin-right: 2px
.ivu-modal-confirm-head-title
  margin-left: 2px
.x-unData
  margin: 20px
  text-align: center
  >i
    font-size: 8rem
    color: #C3683A
    border: 1px solid #C3683A
    border-radius: 100%
    padding: 10px
    margin: 10px
