.appIndex
  background: #fff
  .menuBtns
    background: #fff
    height: 69.5vh
    overflow: hidden
    .ivu-tabs-tabpane
      height: 63vh
      overflow-y: auto
      background: #FCFCFC
    .ivu-tabs-nav
      min-width: 100%
      overflow: hidden
      .ivu-tabs-tab
        width: 50%
        margin-right: 0
        text-align: center
        height: 6.5vh
        line-height: 6.5vh
        padding: 0
  .course-list
    margin: 8px
    padding: 10px 3px
    border-radius: 4px
    box-shadow: 0 0 5px 0 #dbdbdb
    background: #fff
  .newMsg-flag
    padding: 0px 2px 1px
    background: #E85534
    color: #fff
    border-radius: 3px
    font-size: 1.2rem
    margin-bottom: 1rem
    width: 3.8rem
    text-align: center
  .newMsg-img
    img
      width: 6.8rem
      height: 5rem
      border-radius: 3px
  .newMsg-title
    color: #000
    font-size: 1.5rem
    margin-bottom: 6px
    padding-right: 5px
  .newMsg-brief
    font-size: 1.3rem
    padding-right: 5px
    overflow: hidden
    height: 5rem
    text-align: justify
  .newMsg-button
    background: #e88c30
    color: #fff
    display: inline-block
    width: 6rem
    height: 2.5rem
    line-height: 2.5rem
    text-align: center
    border-radius: 5px
    font-size: 1.2rem
    box-shadow: 0 0 5px 0 #dbdbdb
  .newMsg-money
    color: red
    font-size: 1.5rem
    height: 2rem
    margin-bottom: 3.5rem
  .newMsg-money:before
    content: '￥'
    color: red
    font-size: 1.5rem
  .unlearn
    background: #E85534
  .learning
    background: #90C927

