// Created by macmzon@163.com
.appMenu
  .menuMain
    text-align: justify
  .menuList
    display: inline-block
    width: 30%
    height: 35px
    line-height: 35px
    box-shadow: 0px 0px 5px 2px #ebebeb
    margin: 10px 1.5%
    border-radius: 5px
    font-size: 1.3rem
    text-align: center
    color: #f4f4f4
  .menuList:nth-child(1)
    background: #E8692F
  .menuList:nth-child(2)
    background: #E83A30
  .menuList:nth-child(3)
    background: #E72F8C
  .menuList:nth-child(4)
    background: #892FE8
  .menuList:nth-child(5)
    background: #795A98
  .menuList:nth-child(6)
    background: #2DE8BD
  .menuList:nth-child(7)
    background: #31E749
  .menuList:nth-child(8)
    background: #A4E82F
  .menuList:nth-child(9)
    background: #AF5A5A
  .menuList:nth-child(10)
    background: #E7B72F
  .menuList:nth-child(11)
    background: #E88C30
  .menuList:nth-child(12)
    background: #6AA205
  .menuList:nth-child(13)
    background: #FFA4A4
  .menuList:nth-child(14)
    background: #31C9E8
  .menuList:nth-child(15)
    background: #F8BB00
