.appNews
  background: #fff
  .tabBtns
    background: #fff
    height: 69.5vh
    overflow: hidden
    .ivu-tabs-tabpane
      height: 63vh
      overflow-y: auto
      background: #FCFCFC
    .ivu-tabs-nav
      min-width: 100%
      overflow: hidden
      .ivu-tabs-tab
        width: 50%
        margin-right: 0
        text-align: center
        height: 6.5vh
        line-height: 6.5vh
        padding: 0
  .course-list,
  .collect-list
    margin: 8px
    background: #fff
    padding: 10px 3px
    border-radius: 4px
    box-shadow: 0 0 5px 0 #dbdbdb
  .newMsg-img
    img
      width: 6.8rem
      height: 5rem
      border-radius: 3px
      margin-top: 3px
  .newMsg-title
    color: #000
    font-size: 1.4rem
  .newMsg-brief
    font-size: 1.3rem
    padding: 3px 3px 0 0
    overflow: hidden
    height: 5.5rem
    text-align: justify
  .p-title
    padding-left: 5px
    font-size: 18px
    color: #000
  .tabList
    width: 31%
  .p-date
    font-size: 1.2rem
    margin-bottom: 0.3rem
