.appOrder
  background: #fff
  .tabBtns
    height: 75vh
    .ivu-tabs-bar
        border-bottom: 1px solid #f2e8d7
    .ivu-tabs-tabpane
      >div
        height: 68.5vh
        overflow-y: auto
    .ivu-tabs-nav
      background: #fff
      min-width: 100%
      .ivu-tabs-tab
        min-width: 100%
        text-align: center
        height: 6.5vh
        line-height: 6.5vh
        padding: 0
  .p-active
    position: relative
    margin: 8px
    min-height: 16vh
    padding: 5px 10px
    border-radius: 4px
    background: linear-gradient(rgba(160,13,5,0.9), rgba(211,139,44,0.8))
    box-shadow: 0 0 5px 0 #dbdbdb
    .ivu-icon
      margin-top: -2px
      color: #FCC990
  .active-title
    text-align: center
    font-size: 1.6rem
    color: #fff
    height: 4rem
    overflow-y: auto
  .p-recharge
    position: absolute
    top: 11.3rem
    right: 10px
    padding: 0px 10px 1px
    border-radius: 4px
    color: #fff
    box-shadow: 0 0 5px 0 #dbdbdb
    z-index: 999
    span
      font-size: 1.2rem
  .active-money,
  .active-jifen
    color: #fff
    font-size: 1.8rem
    margin-top: 1rem
    text-align: center
  .p-info
    margin-top: 5px
    overflow-y: auto
    height: 40px
    text-align: justify
    height: auto
    font-size: 1.3rem
    margin-top: 10px
  .p-list
    margin: 8px
    padding: 10px 10px
    border-radius: 4px
    background: #fff
    overflow: hidden
    box-shadow: 0 0 5px 0 #dbdbdb
    div
      font-size: 1.3rem
