.appSign
  background: #fff
  .p-bottom
    width: 100%
    text-align: center
    position: fixed
    left: 0
    bottom: 5px
    button
      color: #f4f4f4
      width: 45%
    .p-money
      color: #D61F08
  .ivu-modal-confirm-body
    input
      border: 1px solid #f2e8d7